body {
    padding: 5px;
}

form {
    background-color: rgb(240, 221, 224);
    width: 700px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
}
